<!DOCTYPE html>
<html>
<head>
    <title>Blood Donation Blockchain System</title>
</head>
<body style="font-family:Arial; background:#f4f6f8; text-align:center;">

    <h1 style="color:#b30000;">🩸 Blood Donation Supply Chain</h1>
    <p>Blockchain-based Traceability System</p>

    <div style="margin-top:40px;">
        <a href="/login"><button style="padding:15px 30px;">Login</button></a>
        <a href="/register"><button style="padding:15px 30px;">Register</button></a>
    </div>

</body>
</html>
